<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Battleships</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>
<h1>Welcome to Battleships</h1>

<h3>Instructions (2 players required):</h3>
<p>Both players place their ships on the defensive grid according to the chart below. Whoever goes first, calls out a position.<br>For example, G-6. This will result in either a hit or miss. If a players score a hit, the player goes again. Once a player has sunk all teh opponent's ships, the player wins.</p>

<p>1 Aircraft Carrier</p>
<div>
<div>A</div>
<div>A</div>
<div>A</div>
<div>A</div>
<div>A</div>
</div>
<br>
<p>1 Battleship</p>
<div>
<div>B</div>
<div>B</div>
<div>B</div>
<div>B</div>
</div>
<br>
<p>1 Cruiser</p>
<div>
<div>C</div>
<div>C</div>
<div>C</div> 
</div>
<br>
<p>2 Destroyers</p>
<div>
  <div>D</div>
  <div>D</div>
  &nbsp;
  <div>D</div>
  <div>D</div>
</div>
<script src="../public/scripts"></script>
</body>
</html>